/* RESET */
body,
nav,
main,
footer,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: #012;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background: #012;
  text-align: center;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #111e; /*#114488fb*/
  box-shadow: 0 0 35px 0 #000b;
}

.logo {
  font-family: "Fredericka the Great";
  font-size: 36px;
  color: #ddd;
  cursor: pointer;
  z-index: 100;
  display: relative;
}

.net {
  color: #ff3c;
}

input {
  min-width: 300px;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  background: #ddd;
  font-family: "Poppins";
  color: #013;
  cursor: text;
}

input::placeholder {
  color: #777;
}

footer {
  padding: 15px 15px 0px 15px;
  background: #111e /*#114488fb*/;
  text-align: right;
}

.powered {
  height: 50px;

  border-radius: 10px;
}

.notFound {
  color: #fff;
}
